<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Declare features -->
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera.any" /> <!-- Declare permissions -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application
        android:label="Edu Sign"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/edusign_logo_only"
        android:roundIcon="@drawable/edusign_logo_only"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.EduSign"
        tools:targetApi="31">
        <activity
            android:name=".ui.cameraChallenge.CameraChallengeResultActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.cameraChallenge.CameraForChallenge"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.challenge.ActivityDetailChallenge4"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.challenge.ActivityDetailChallenge3"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.challenge.ActivityDetailChallenge2"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.challenge.ActivityDetailChallenge"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.dictionaryDetail.DictionaryDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.resultPage.ResultTranslateActivity"
            android:exported="false"
            android:parentActivityName=".ui.homeActivity.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.splashActivity.SplashActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.camera.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.homeActivity.HomeActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>